body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

.row1 {
    margin: 20px;
}

.form-group1 {
    margin-bottom: 20px;
}

.control-label1 {
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-control1 {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

    .form-control1:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
    }

.text-danger1 {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
}

.btn-primary1 {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

    .btn-primary1:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
    }

.form-wrapper {
    
    display: block; 
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 
}

